// Styles for myProfile for Banner and profile image is here

.my-profile-container .avatar-image,
.avatar-image-container {
  width: 150px;
  height: 150px;
}
.banner-image-container {
  height: 150px;
}

.my-profile-container .profile-banner {
  height: 300px;
}


