.left-card {
    cursor: pointer;
  }
  // venue card hight 
  .venue-image {
    height: 300px; 
  }
  // City and Country paragraph to have same hight if
  .city-country-p {
    min-height: 25px;
  }