.small-card-img {
    height: 150px;
  }
  
  .small-venue-card {
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
    width: 225px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
    // City and Country paragraph to have same hight
    .city-country-p {
      min-height: 25px;
    }
  