@import "../../styles/global";
 .profile-banner {
  height: 300px;
}
 .avatar-image {
  width: 150px;
  height: 150px;
}


.nav-tabs .nav-link {
  color: $font-color;
}
.nav-tabs .nav-item .nav-link.active {
  color: $primary;
}

.newVenueContainer {
  cursor: pointer;
}

.newVenueImage {
  width: 100%;
  height: 300px;
}

.bio-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
