.explore-container {
  padding: 20px;
}

.map-container {
  height: 100vh;
  top: 75px;
  overflow: hidden;
  border-radius: 25px;
}
// infinite scroll works across all browsers
.infinite-scroll-sentinel {
  height: 1px;
  visibility: hidden;
}