.map-container {
  height: calc(100vh - 75px);
  top: 75px;
  overflow: hidden;
  border-radius: 25px;
}

.infinite-scroll-sentinel {
  height: 1px;
  visibility: hidden;
}

.venues-list {
  max-width: 450px;
  overflow-x: hidden;
}